<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <% include include/head.html %>
</head>
<body class='container'>
<% include include/header.html %>
<section>
	<h3>숫자 2개의 덧셈</h3>
	<p>숫자1: <%- num1 %>
	<p>숫자2: <%- num2 %>
	<p>덧셈결과: <%- sum %>
</section>
</body>
</html>