<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include include/head.html %>
    
  </head>
  <body class='container'>
  	<% include include/header.html %>
    <h3 class='w3-blue-gray'>안녕하세요</h3>
    <p class='w3-light-gray'>Welcome to 우리집</p>
  </body>
</html>
