<!-- 보이는 화면을 쉽게 장치의 크기가 변해도 가득차게 보이게 하라 -->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- 브라우저로 보이는 화면 encoding을 URF-8로 설정하라 -->
<!-- content 속성을 text/html로 설정한다. -->
<meta http-equiv='Content-Type', content='text/html: charset=UTF-8'>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
  	a:link {
    	text-decoration: none;
    }
    	
    .container {
    	margin-top: 10px;
    }
</style>

