form(action='/write', method='POST')
	article.w3-row
		label.w3-col.m1.s1.l1 글쓴이
		input(type='text').w3-col.m3.l3.s3.w3-input.w3-boder
		
	article.w3-row
		label.w3-col.m1.s1.l1 제목
		input(type='text').w3-col.m3.l3.s3.w3-input.w3-border
		
	article.w3-row
		textarea(rows='5').w3-col.m4.l4.s4.w3-input.w3-border
		
	article.w3-row
		button.w3-col.m1.s1.l1 저장