doctype html
html(lang='ko')
	head
		//- viewport : 기기에 상관없이 동일한 모양의 화면을 
		//- 보기위한 값
		meta(name="viewport", content="width-device-width, initial-scale=1")
		link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
		title 내 메모장